@model HeaderNavVm
@*@switch (Model)
{

}*@
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" aria-current="false" asp-controller="Home" asp-action="OnlineReserve">درخواست نوبت</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="false" asp-controller="Home" asp-action="AboutUs">درباره ی ما</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="false" asp-controller="Login" asp-action="Index">ورودی کارمندان</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="false" asp-controller="Home" asp-action="Questions">سوالات شما</a>
    </li>
</ul>