<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Employee" asp-action="Index">پنل کارمند</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 fs-5">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Disbursements" asp-action="Index">پرداختی ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Doctors" asp-action="Index">دکتر ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Employees" asp-action="Index">کارمندان</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Expertises" asp-action="Index">تخصص های دکتر</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="HowPays" asp-action="Index">نوع پرداخت</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="OnlineReservations" asp-action="Index">رزرو آنلاین</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Reservations" asp-action="Index">قرار ملاقات ها</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Patient" asp-action="Index">مریض ها</a>
                        </li>
                    </ul>
                     <a class="btn btn-outline-primary  float-end" asp-controller="Login" asp-action="LogOut" >خارج شدن</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
