@model clinikpezeshki.Models.Entitys.Treatment

@{
    ViewData["Title"] = "جزئیات درمان";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

<h1>جزئیات درمان</h1>

<div>
    <h4>Treatment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
